<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/lib/bootstrap.min.css" rel="stylesheet" />    
    <link href="/public/lib/fastbootstrap.min.css" rel="stylesheet" >
    <link href="/public/lib/custom.css" rel="stylesheet" >

    <title>Document</title>
</head>

<body>
    <script src="/public/lib/jquery-3.7.1.min.js"></script>
    <script src="/public/lib/popper.min.js"></script>
    <script src="/public/lib/bootstrap.min.js"></script>
    <script src='/public/lib/plotly-latest.min.js'></script>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <div id="nav">
                    <ul class="nav flex-column">
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="https://www.betterask.erni/">
                                <img src="/public/img/ERNI_Emblem.png" alt="erni" width="43.8" height="48" />
                            </a>
                        </li>
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="/">
                                <img src="/public/img/home.png" alt="home" width="32" />
                            </a>
                        </li>
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="#">
                                <img src="/public/img/device.png" alt="notifications" width="43.8" height="48" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-11">
                <div id="nav_bar_horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="navbar-brand" href="#">
                                            <img src="/public/img/header_robot_icon.png" alt="robot icon" style="height: 44px" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="navbar-brand" href="https://app.torizon.io/#/">
                                            <img src="/public/img/user.png" alt="user account" width="43.8"
                                                height="48" />
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navbar-brand" href="#">
                                            <img src="/public/img/notifications.png" alt="notifications" title="Register for notifications dummy" width="43.8"
                                                height="48" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="device_info">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <table>
                                            <tr>
                                                <th colspan="2">Hardware</th>
                                            </tr>
                                            <tr>
                                                <td>Device ID:</td>
                                                <td>{{deviceId}}</td>
                                            </tr>
                                            <tr>
                                                <td>Uuid:</td>
                                                <td>{{deviceUuid}}</td>
                                            </tr>
                                            <tr>
                                                <td>Last seen:</td>
                                                <td>{{lastSeen}}</td>
                                            </tr>
                                            <tr>
                                                <td>Created:</td>
                                                <td>{{createdAt}}</td>
                                            </tr>
                                            <tr>
                                                <td>Activated:</td>
                                                <td>{{activatedAt}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm">
                                        <table>
                                            <tr>
                                                <th colspan="2">Networks</th>
                                            </tr>
                                            <tr>
                                                <td>Hostname:</td>
                                                <td>{{networkInfo.hostname}}</td>
                                            </tr>
                                            <tr>
                                                <td>Local IPv4:</td>
                                                <td>{{networkInfo.localIpV4}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mac:</td>
                                                <td>{{networkInfo.macAddress}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm">
                                        <table>
                                            <tr>
                                                <th colspan="2">Fleets</th>
                                            </tr>
                                            {% if deviceFleets|length %}
                                            {% for fleet in deviceFleets %}
                                            <tr>
                                                <td>Name:</td>
                                                <td>{{fleet.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Created:</td>
                                                <td>{{fleet.createdAt}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr></tr>
                                            <td>none</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="application_data">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="preview_title" >Live Preview</h5>
                                <div id="preview_model" >
                                    <video src="/public/img/0001-0350.mkv" type="video/mp4" class="card-img-top" style="border-radius: 15px;" muted autoplay loop></video>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Memory used</h5>
                                            <!-- Create a div for the memory used graph -->
                                            <div class="responsive-plot" id="mem_plot"></div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Temperature</h5>
                                            <!-- Create a div for the temperature graph -->
                                            <div class="responsive-plot" id="temp_plot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="update">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Update
                                <span class="update_state" style="font-size: 60%; color: #26BF00"><img
                                        src="/public/img/ok.png" /> No pending updates
                                </span>
                            </h5>
                            <div id="update-buttons">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary border-0 dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Update 1
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">dummy_1</a>
                                                    <a class="dropdown-item" href="#">dummy_2</a>
                                                    <a class="dropdown-item" href="#">dummy_x</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary btn-sm float-right"
                                                style="border-radius: 12px">
                                                <img src="/public/img/upload.png" /> Update
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                Update Status
                                <span class="update_state" style="font-size: 60%; color: #26BF00"><img
                                        src="/public/img/ok.png" />
                                </span>
                            </h5>
                            <div class="container">
                                <div class="row">
                                    {% for pack in devicePackages %}
                                    <div class="col-sm">
                                        <table >
                                            <tr>
                                                <th colspan="2">
                                                    {% if 'bootloader' in pack.component %}
                                                    Bootloader
                                                    {% elif 'docker' in pack.component %}
                                                    Application
                                                    {% else %}
                                                    OS
                                                    {% endif %}  
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>Type:</td>
                                                <td>{{pack.component}}</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td>{{pack.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Version:</td>
                                                <td>{{pack.version}}</td>
                                            </tr>
                                            <tr>
                                                <td>Hash:</td>
                                                <td>{{pack.checksum | truncate(8) }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var layout = {
            minreducedwidth: 200,
            height: 250,
            margin: {
                t: 0
            },
            autosize: true // set autosize to rescale
        };

        var config = {
            'displayModeBar': false // set to false to hide the icons on top of the graph
        }

        var temp_graph = {              
            x: [{{ temp_x }}],
            y: [{{ temp_y }}],
        type: 'scatter'
        };
        Plotly.newPlot('temp_plot', [temp_graph], layout, config);

        var mem_graph = {              
            x: [{{ mem_used_x }}],
            y: [{{ mem_used_y }}],
            type: 'scatter'
        };

        var layout_mem = {
            minreducedwidth: 200,
            height: 250,
            margin: {
                t: 0
            },
            autosize: true // set autosize to rescale
        };

        var config_mem = {
            'displayModeBar': false // set to false to hide the icons on top of the graph
        }
        Plotly.newPlot('mem_plot', [mem_graph], layout_mem, config_mem);

        // update the layout to expand to the available size when the window is resized
        window.onresize = function () {
            Plotly.relayout('temp_plot', {
                'xaxis.autorange': true,
                'yaxis.autorange': true,
            });

            Plotly.relayout('mem_plot', {
                'xaxis.autorange': true,
                'yaxis.autorange': true,
            });
        };
    </script>
</body>

</html>