<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/lib/fastbootstrap.min.css" rel="stylesheet">
    <link href="/public/lib/custom.css" rel="stylesheet">

    <title>Registered Devices</title>
</head>

<body onload="addDeviceImage();">
    <script src="/public/lib/jquery-3.7.1.min.js"></script>
    <script src="/public/lib/popper.min.js"></script>
    <script src="/public/lib/bootstrap.min.js"></script>
    <script src='/public/lib/plotly-latest.min.js'></script>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <div id="nav">
                    <ul class="nav flex-column">
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="https://www.betterask.erni/">
                                <img src="/public/img/ERNI_Emblem.png" alt="www.betterask.erni" title="www.betterask.erni"  width="43.8" height="48" />
                            </a>
                        </li>
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="/">
                                <img src="/public/img/home.png" alt="Home" title="Home"  width="32" />
                            </a>
                        </li>
                        <li class="nav-item mx-auto" style="margin-bottom: 30px;">
                            <a class="navbar-brand" href="https://app.torizon.io/#/fleets">
                                <img src="/public/img/connect_icon.png" alt="Fleets" title="Fleets" width="43.8" height="48" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-11">
                <div id="nav_bar_horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="navbar-brand" href="https://app.torizon.io/#/">
                                            <img src="/public/img/user.png" alt="user account" width="43.8"
                                                height="48" />
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navbar-brand" href="#">
                                            <img src="/public/img/notifications.png" alt="notifications"
                                                title="Register for notifications dummy" width="43.8" height="48" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="application_data">
                    <div class="container">
                        <div class="row">
                            {% for device in values %}
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-auto">
                                                <img src="/public/img/robot_icon.png" alt="robot icon" id="device_preview_icon" style="height: 44px"/>
                                            </div>
                                            <div class="col-sm">
                                                {% if isConnected %}
                                                <img src="/public/img/robot_icon_connected.png" alt="robot icon" style="height: 44px" />
                                                {% else %}
                                                <img src="/public/img/robot_icon_disconnected.png" alt="robot icon" style="height: 44px" />
                                                {% endif %}
                                            </div>
                                            </div>
                                            <div class="row">
                                                <p class="card-text"><b>{{device.deviceName}} <br> </b>
                                                    <span style="font-size: 0.618em">Last seen: {{device.lastSeen}}</span>
                                                </p> 
                                                <a class="stretched-link" href="/device?device_id={{device.deviceUuid}}"
                                                    style="color: white;">Go to device</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //HINT: This function is called when the page is loaded and substitutes the device image and icon
        //      Remove the comments below to use your personal device image and icon

        function addDeviceImage() {
//            var deviceIconImage = document.getElementById("device_preview_icon");
//            var deviceIconImageSrc = "/public/img/your.png";  // TODO: replace with your image
//            deviceIconImage.innerHTML = "<img src='" + deviceIconImageSrc + "' alt="robot icon" id="device_preview_icon" style="height: 44px"/>
        }
    </script>
</body>

</html>